
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;

}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.container {
	//background-color: red;
	height: auto;
	//background-color: green;
	//padding: 0px 10px 5px 10px;
}

.display-1 {
	//color: green;
	font-size: 15em;
}

.test {
	background-color: #DCDCDC;
}

.card-block {
	background-color: #F5F5F5;
}


 // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 

		* {
			color: red;	
			font-family: 'Roboto', sans-serif;
	    	font-weight: 500;
		}

		.title {
			font-weight: 700;
			font-size: 150%;
		}
    
		.form-control {
			font-size: 100%;
		}

	    fieldset {
	    	font-size: 80%;
	    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {  }