
html,body {
  height: auto;
}

h1 {
  font-weight: 600;
}

.lead {
  font-weight: 400;
  font-size: 115%;
}

.container {
  margin-top: 5%;
  height: 100%;
  width: 70%;
}

@media (max-width: 575px) { 

  * {
    font-size: 1em;
  }

  .btn, .btn-group {
        width: 100%;
        margin-top: 3%;
        }

  .input-lg {
      font-size: 115%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .btn, .btn-group {
        width: 100%;
        margin-top: 3%;
        }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .btn, .btn-group {
        width: 100%;
        margin-top: 3%;
        }
  
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .btn, .btn-group {
        width:50%;
        margin-top: 3%;
        margin-left: 25%;
        }
  
 }